/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);*/

body {
    font-family: 'Roboto', sans-serif;

}

.top-bar {
    border-bottom: 1px solid #EAEAEA;
    padding: 8px 0;
    color: #00577C;
    font-size: 12px;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar ul span {
    color: #0f0f0f;
}

.mtb-25 {
    margin: 25px 0;
}

.mb-15 {
    margin-bottom: 4px;
}

h2 {
    margin: 0;
}

.headline {
    margin-bottom: 10px;
}

.headline h2 {
    margin-bottom: 5px;
}

.contact .headline h2 {
    margin-bottom: 9px;
    font-weight: 300;
    color: #6e6e6e;
}

h2, h3 {
    color: #0C5E86;

}

.bg-1 {
    /* padding-left: 180px;*/
    position: relative;
    background: url("images/bg2.gif");
    min-height: 400px;

}

.bg-1-width {
    width: 500px;
    position: relative;
}

.rel {
    position: relative;
}

.bg-2 {
    padding-right: 180px;
    position: relative;
    background: url("images/bg3.gif");
    min-height: 400px;
}

.headline:after {
    content: "";
    position: absolute;
    border-top: 3px solid #0C5E86;
    /* height: 10px; */
    width: 86px;
    margin-bottom: 10px;
}

.headline.white:after {
    content: "";
    position: absolute;
    border-top: 3px solid #fff;
    /* height: 10px; */
    width: 82px;
    margin-top: 4px;
}

.headline.white h2 {
    font-size: 20px;
    margin-top: 10px;
}

.btn-blue {
    border: 2px solid #0C5E86;
    padding: 10px 20px;
    background: none;
    color: #0C5E86;
    border-radius: 0;
    width: 175px;
    text-transform: uppercase;
}

.learn-more {
    position: absolute;
    bottom: 60px;
    right: 40px;
    text-transform: uppercase;

}

.social-last {
    padding-left: 55px;
}

.slider-btn {
    width: 260px;
    padding: 13px;
}

.bg-2 .learn-more {

}

.btn-white {
    border: 2px solid #fff;
    padding: 8px 12px;
    background: none;
    color: #fff;
    border-radius: 0;
    width: 160px;
    text-transform: uppercase;
    margin-top: 26px;
}

.btn-white:hover {
    border-color: #0C5E86;
    background: #fff;
    color: #0f0f0f;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(20, 20, 20, 0.75);
}

#slider .slider-text {
    position: relative;
    top: 50%;
    margin-top: -70px;
    font-size: 50px;
    color: #fff;

    text-transform: uppercase;
}

.deliver {
    margin-top: 45px;
    margin-bottom: 35px;
}

.sprit {
    width: 50.6%;
    margin-left: 4px;
    padding-left: 25px;
}

#slider .slider-text .sub {
    font-size: 30px;
    text-transform: capitalize;
}

.navbar-theme {
    background: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;

}

.down:hover {
    color: rgba(255, 255, 255, 0.74);

}

.social a {
    padding: 5px 5px;
    color: #fff;
    font-size: 18px;
}

#inner-slider {
    position: relative;
    height: 150px;
}

.inner-header {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
}

.inner-header h1 {
    margin: 0;
    font-weight: 300;
    color: #4C4C4C;
}

.page-title {
    padding: 20px 20px;
}

.navbar-theme .navbar-nav > .active,
.navbar-theme .navbar-nav > .active:hover,
.navbar-theme .navbar-nav > li:hover {
    background: none;
    color: #0C5E86;
    border-bottom: 4px solid #0C5E86;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: -50px;
    }
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.navbar-theme .navbar-nav > li {

}

.navbar-theme .navbar-nav > li > a {
    color: #0C5E86;
    padding: 5px 19px 12px;
    font-size: 13px;
    font-weight: 400;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
        background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
        background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
        background-repeat: repeat-x;
    }
}

.home-reaction {
    padding: 20px 0;
    color: #fff;
    position: relative;
    background: url("images/bg4.jpg");

}

.home-reaction p {
    line-height: 30px;
}

.home-reaction h2 {
    color: #fff;
    line-height: 30px;

}

footer {
    background: #333132;
    padding: 30px 0;
    color: #c0c0c0;
    font-size: 12px;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #6C6E6D;
}

footer h4 {
    font-size: 16px;
    color: #6C6E6D;
    margin: 0;
}

footer p {
    padding: 0;
    margin: 0;
}

.inner-header .nav {
    margin-left: 10px;

}

.inner-header .nav-tabs > li.active > a,
.inner-header .nav-tabs > li.active > a:hover,
.inner-header .nav-tabs > li.active > a:focus {
    color: #555555;
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid #0C5E86;

    cursor: pointer;
}

p {
    margin: 10px 0;
    line-height: 22px;
}

li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.inner-nav {
    background: #fff;
}

/*Conatct form */
.contact-form .form-control {
    border-radius: 0;
    padding: 30px;
    margin: 10px 0;
    font-size: 20px;
}

.mt-5 {
    margin-top: 5px
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    text-align: center;
    display: block;
    padding: 7px 20px;
    border-bottom: 1px solid #ccc;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #0C5E86;
    font-size: 12px;
    white-space: nowrap;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

.container.contact {
    /* width: 900px;*/
}

header {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(100, 100, 100, 0.2), inset 0 1px 0 #fbfbfb;
}

header.inner {
    position: static;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
}

.btn-contact:hover {
    background: #fff;
    color: #0C5E86;
}

.switch-desktop {
    display: none;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 400px) {

}

@media only screen and (max-width: 767px) {
    .mobile-top div.s {
        padding: 10px 8px;
    }

    .mobile-top .right-border {
        border-right: 1px solid #c0c0c0;
    }

    .mobile-top-bar {
        border-bottom: 1px solid #c0c0c0;
    }

    .show-desktop {
        display: none;
    }

    h1 {
        font-size: 26px;
    }

    #slider .slider-text .sub {
        font-size: 18px;

    }

    .navbar-default .navbar-collapse {
        background: #fff;
        z-index: 390000000000;
        position: relative;
    }

    .navbar-default .navbar-collapse br {
        display: none;
    }

    .inner-header h1 {
        font-size: 25px;

    }

    .carousel.slide {
        display: none;
    }

    footer .title {
        float: left;
        width: 30%;
    }

    footer .desc {
        float: left;
        width: 70%;
    }

    .adesc{
	 text-decoration: none;
    }

    footer .pl-0 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-social {
        clear: both;
    }

    footer .mobile-social a {
        color: #ffffff;
        padding: 12px 8px;
	font-size: 18px;
    }

    footer .mobile-social .desc {

        padding: 10px 20px;
    }

    footer .copy-right, .by, footer .by.pull-right {
        clear: both !important;
        text-align: center;
    }

    #slider .slider-text {
        top: 55%;
        /* margin-top: -142px; */
        font-size: 22px;
        color: #fff;
    }

    .down {
        background: none;
        color: #fff;
        font-size: 45px;
        position: absolute;
        bottom: 14px;
        /* left: 49%; */
        right: 0;
        width: 100%;
        text-align: center;
    }

    .show-desktop {
        display: block;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-theme {
    background: none;
    border: none;
    margin: 1px 0;
    margin-bottom: 0;
    padding: 0;
    /* height: 68px; */
    padding-bottom: 10px;
}

h2, .h2 {
    font-size: 25px;
}
