/*font-face*/
@font-face {
	font-family:'Poppins-Regular';
	src: url('fonts/Poppins-Regular.eot');
	src: url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf') format('truetype'), url('fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Poppins-Bold';
	src: url('fonts/Poppins-Bold.eot');
	src: url('fonts/Poppins-Bold.woff') format('woff'), url('fonts/Poppins-Bold.ttf') format('truetype'), url('fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Poppins-SemiBold';
	src: url('fonts/Poppins-SemiBold.eot');
	src: url('fonts/Poppins-SemiBold.woff') format('woff'), url('fonts/Poppins-SemiBold.ttf') format('truetype'), url('fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('fonts/Poppins-Light.eot');
	src: url('fonts/Poppins-Light.woff') format('woff'), url('fonts/Poppins-Light.ttf') format('truetype'), url('fonts/Poppins-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*font-face*/

*,span{font-size:1em;line-height:1.2em;padding:0;margin:0;outline:none;font-family:'Poppins-Regular',sans-serif;font-weight:normal;}
html, body { margin:0; padding:0;color:#000000; height:100%;}
body{float:left;margin:0; padding:0;color:#000000; height:auto;width:100%;}
#page,#page-seperator{ width:100%;float:left; }
a,a:hover,a:active,a:focus {outline:0;text-decoration:none; }
figure,img{border:0;margin:0;}
header,footer,section{float:left;width:100%;}
ol,ul,.row,row,p{ margin:0; }
ul,ul li{ padding:0;list-style:none;}
html{scroll-behavior: smooth;}
main{margin: 0px auto;width: 100%;}
.common_width{width: 85%;margin: 0 auto;}

/*Banner*/
.banner_container {background-image:url("../images/your_solutions_img.jpg");background-size: cover; background-position: top left; padding:9em 0;text-align:center;}
.banner_container p.banner_heading{color:#fff;font-size:2.5em;margin-bottom: 0.2em;font-family:'Poppins-Bold';}
.banner_container p.banner_animated_content{color:#00aeef;font-size:2em;font-family:'Poppins-Bold';}
.banner_container p.banner_btn{color:#fff;margin-top: 3em;}
.banner_container p.banner_btn a{color:#fff;display: inline-block; border: 0.05em solid #fff; font-size: 0.7em; padding: 0.5em 1.5em;}
.banner_container p.banner_btn a:hover{background:#00aeef;border-color:#00aeef;}

 /*scroll-animation*/
.box{display: block;text-indent: 10px;text-align:center;position:relative;}
.box ul li{position: absolute;opacity: 0;overflow: hidden;	color: #6b969d;-webkit-animation: rotateWord 12s linear infinite 0s;-ms-animation: rotateWord 12s linear infinite 0s;animation: rotateWord 12s linear infinite 0s;color: #00aeef; font-size: 2em; font-family: 'Poppins-Bold';width:100%;top:0;line-height:1.5em;}
.box ul li:nth-child(2) { -webkit-animation-delay: 3s;-ms-animation-delay: 3s; animation-delay: 3s;}
.box ul li:nth-child(3) { -webkit-animation-delay: 6s; -ms-animation-delay:6s; animation-delay: 6s;}
.box ul li:nth-child(4) { -webkit-animation-delay: 9s; -ms-animation-delay: 9s; animation-delay: 9s;}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
/*scroll-animation*/


/*Banner*/

/*Deliver Customized Container*/
.deliver_customized_container {background:#f6f7f7;}
.deliver_customized_inner_container {text-align:center;padding:3.5em 0;}
.deliver_customized_inner_container p.deliver_customized_heading{font-family:'Poppins-SemiBold';font-size: 1.4em; font-weight: 900;color: #191919;}
.deliver_customized_inner_container p.deliver_customized_subheading{font-family:'Poppins-Bold';margin: 1.5em 0;font-weight: 900;font-size: 0.8em;color:#034d70}
.deliver_customized_inner_container p.deliver_customized_subtext{color:#455560;font-size: 0.6em; line-height: 1.6em;margin-bottom: 4em;}
.seperator {background:#034d70;width: 2.8em; height: 0.15em; margin: 0 auto;margin-top: 2em;}
.deliver_customized_list_container {margin-top: 3.5em;}
.deliver_customized_list_container ul li{width: 24%; display: inline-block; margin-left: -8px;vertical-align:top;padding: 0 0.5em;}
.deliver_customized_list_container ul li:first-child{margin-left:0px;}
.deliver_customized_list_container ul li figure{background:#fff;border:0.05em solid #e3e5e7;padding: 2.5em 1em;}
.deliver_customized_list_container ul li figure .deliver_customized_list_icon{max-width: 6.5em; width: 100%; height: 6.5em;}
.deliver_customized_list_container ul li figure figcaption{color:#000;margin-top: 2em;font-size: 0.65em;font-family:'Poppins-SemiBold'; }
.deliver_customized_list_container ul li a:hover figure {background:#034d70;}
.deliver_customized_list_container ul li a:hover figure figcaption{color:#fff;}
.deliver_customized_list_container ul li a:hover figure svg path{fill:#fff !important;}
.deliver_customized_list_container ul li a:hover figure svg path#path2997,.deliver_customized_list_container ul li a:hover figure path#path3089,.deliver_customized_list_container ul li a:hover figure path#path2981,.deliver_customized_list_container ul li a:hover figure path#path2947{fill:#256684 !important;}
/*Deliver Customized Container*/

/*Video Container*/
.video_container {background-image:url("../images/see_how_it_is_done.jpg");background-size:cover;background-position:bottom left;padding:6em 0;text-align:center;}
.video_inner_container{width:60%; margin:0 auto;}
.video_inner_box_container{border:0.16em solid #fff; text-align:center;/*padding:4em 1em 2em;*/padding:0px;}
.video_inner_box_container .svg{width: 4em;height: 4.8em;}
.video_inner_box_container p{color:#fff;margin-top: 2em;font-size: 0.95em;}
.video_inner_box_container .svg:hover path{fill:#fff !important;cursor:pointer;}
.inner_video{display:none;width:100%;position:relative;line-height: 0.2em;}
.inner_video video{width:100%}
.video_div{display:inline-block;}
.close_icon{cursor:pointer;max-width:1em;}
.video_overlay{position:absolute;top:0;right:0;background:transparent;text-align:right;}
.video_img_div{/*position:relative;z-index:9999;*/padding:6.5em 1em 6.5em;}
.video_close_btn{display:inline-block;padding: 0.5em 1em;}
/*Video Container*/

/*Planning Container*/
.planning_inner_container {text-align:center;padding:3.5em 1em}
.planning_inner_container p.panning_heading{font-family:'Poppins-Bold';color: #034d70;  font-size: 0.85em;}
.planning_inner_container p.panning_subtext{ color:#455560;font-size: 0.75em;margin: 0.6em 0 2em;}
.planning_inner_container p.panning_btn a{background: #034d70; color:#fff; display:inline-block;padding: 0.8em 1.5em; font-size: 0.7em;cursor:pointer;}
.planning_inner_container p.panning_btn a:hover{background: #00aeef;color:#fff;}
.planning_inner_container p.panning_btn a.visitor_btn{padding:0.8em 5em;}
.modal-content{background:#000;}
.modal-title{color:#fff;font-size:1.5em;line-height:1.5em;}
/*Planning Container*/

/*Setting Container*/
.setting_container {background-image: url("../images/setting_the_standard.jpg"); background-size: cover; background-position: bottom left; padding: 3.5em 0 3em;text-align: center;}
.setting_container p.setting_heading{font-family:'Poppins-SemiBold';color:#fff; font-size:1.2em}
.setting_list_container {margin-top: 3.5em;}
.setting_list_container ul li{width: 16%; display: inline-block; margin-left: -8px;vertical-align:top;padding: 0 0.5em;}
.setting_list_container ul li:first-child{margin-left:0px;}
.setting_list_container ul li figure .svg{width: 5em;height: 4.5em;}
.setting_list_container ul li figure figcaption{font-size: 0.59em; font-family:'Poppins-SemiBold';color:#fff; line-height: 1.8em;}
/*Setting Container*/

/*Tradition Container*/
.tradition_container {padding: 4em 0;}
.tradition_inner_container {text-align:center;}
.tradition_inner_container .tradition_heading{font-family:'Poppins-SemiBold'; font-size:1.2em;}
.tradition_inner_container .tradition_subtext{color:#455560;font-size: 0.6em; margin: 2em 0 4em; line-height: 1.7em;}
.tradition_inner_container .tradition_subtext span{font-family:'Poppins-Bold';}
.tradition_inner_container .tradition_price{font-size: 2.3em;font-family:'Poppins-SemiBold';}
.tradition_inner_container .tradition_price_subtext{color:#034d70;line-height: 1.5em;font-size: 0.85em;margin: 1em 0 4em;}
.tradition_list_container {max-width: 90%; margin: 0 auto;}
.tradition_list_container ul li{width: 16.3%; display: inline-block; margin-left: -8px;vertical-align:top;padding: 0 0.5em;}
.tradition_list_container ul li:first-child{margin-left:0px;}
.tradition_list_container ul li figure .svg{width: 5em;height: 4em;}
.tradition_list_container ul li figure figcaption{font-size: 0.6em; font-weight: 900;color:#034d70; line-height: 1.6em;margin-top: 0.2em;}
.tradition_inner_container .tradition_btn {margin-top: 3em;}
.tradition_inner_container .tradition_btn a{background: #034d70; color:#fff; display:inline-block;padding: 0.8em 1.5em; font-size: 0.65em;}
.tradition_inner_container .tradition_btn a:hover{background: #00aeef;}
/*Tradition Container*/

/*Safety Responsibility Container*/
.safety_responsibility_container{background:#00aeef; padding:1.7em 0em}
.safety_responsibility_left_container {padding:0 0.5em 0 0;}
.safety_responsibility_left_container p{font-size: 0.97em;color:#fff; font-family:'Poppins-SemiBold';padding-top: 0.35em;}
.safety_responsibility_right_container {padding:0 0 0 0.5em;}
.safety_responsibility_right_container p a{color:#fff; font-size:0.65em;display:inline-block;padding: 0.8em 1.5em;background:#000000}
.safety_responsibility_right_container p a:hover{background:#034d70}
/*Safety Responsibility Container*/

/*Want Join Container*/
.want_join_container{padding: 5em 0 3em; text-align: center;background-image:url("../images/want_to_join.jpg"); background-size:cover; background-position:bottom left;}
.want_join_container p.want_join_heading{color: #fff; font-family:'Poppins-SemiBold';font-size: 1.1em;margin-bottom: 2em;}
.want_join_container p.want_join_btn a{color:#fff; display:inline-block; padding: 0.7em 2.3em; font-size: 0.65em;border:0.05em solid #fff;}
.want_join_container p.want_join_btn a:hover{background:#00aeef;border-color:#00aeef}


.mobileNo {
    display: block;
}
.mobileYes {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobileNo {
        display: none;
    }
    .mobileYes {
        display: block;
    }
}
/*Want Join Container*/

/*Header*/
.header_address_block{background:#034D70;color:#fff;padding: 0.2em 0em;}
.header_menu_block{color:#034D70;background:#fff;}
.logo_block img{width: 100%;max-width: 9.5em;}
.location_block p span{font-size:0.5em;line-height:1em;}
.header_contact_block p span{font-size:0.5em;line-height:1em;}
.header_contact_block .english_content{font-size:0.5em;line-height:1em;display: inline-block;vertical-align: middle;color:#fff;}
.header_contact_block a span{font-size:0.5em;line-height:1em;color:#fff;display: inline-block;vertical-align: middle;}
.header_contact_block a{display:inline-block;vertical-align: middle;line-height:0.2em;}
.logo_block{display:inline-block;vertical-align: middle;line-height:0.2em;padding: 0.5em 0em;}
.location_block p{line-height:1em;}
.fa_icon{padding-right:0.5em;}
.parent_div{display: table;width: 100%;height: 100%;}
.child_div{ display: table-cell;vertical-align: middle;}
.menu_contaniner .nav li.nav-item a{font-size: 0.5em;color: #455560;vertical-align: middle;display: inline-block;padding: 0 1.7em 0 0;}
.menu_contaniner .nav{float:right;}
.menu_contaniner{float:right;}
.menu_contaniner .nav > li.nav-item{position: relative;padding: 0.5em 0em 1em;}
.submenu {position: absolute;top: 100%;min-width: 9em;display: none;z-index: 2;left: -0.5em;background: #fff;padding: 0.5em;}
.menu_contaniner .nav-item .submenu li a {color: #034d70;padding: 1.2em 0 0;display: block;}
.menu_contaniner .nav li.nav-item:hover > a, .menu_contaniner .nav li.nav-item.active > a {color: #034d70;/*font-weight: 600;font-family:'Poppins-SemiBold';transition:all 2s;*/}
.menu_contaniner .nav li.nav-item .submenu li:hover a, .menu_contaniner .nav li.nav-item.active a {color: #171717;/*font-weight: 600;font-family:'Poppins-SemiBold';transition:all 2s;*/}
.menu_contaniner .nav li.nav-item:hover .submenu {display: block;}
.menu_icons{width:2em;height:2em}
.about_menu_icons {width: 1.5em;height: 1.5em;}
.fax_icon{width:1em;height:1em}
.header_contact_inner_block_1{max-width:24%;flex:0 0 24%}
.header_contact_inner_block_2{max-width:32%;flex:0 0 32%}
.header_contact_inner_block_3{max-width:20%;flex:0 0 20%}
.menu_contaniner .nav li.nav-item:last-child a{padding-right:0;}
.header_contact_block a:hover span:last-child{text-decoration:underline;}
.header_contact_block  .fax_tag:hover span:last-child{text-decoration:none;}
.location_block p a{color:#fff;}
.location_block p a:hover span:last-child{text-decoration:underline;}
.up_arrow{display:none;}
/*Header*/
/*Footer*/
a.footer-home {
    color: #fff;
}

a.footer-home:hover {
    color: #fff;
}
.footer_container {background:#034d70;padding: 2.5em 0 1em;}
.footer_bottom_container {border-top: 0.05em solid #fff; padding: 0.6em 0 0 ;}
.footer_bottom_container p{color:#fff;font-size: 0.55em;font-family: 'Poppins-Light';}
.footer_container h3{font-size:0.6em;line-height:1em;color:#fff;margin-bottom: 1.5em;/*font-family:'Poppins-SemiBold';*/font-family: 'Poppins-Light';}
.footer_container p span{font-size:0.8em;line-height:1.2em;color:#fff;font-family: 'Poppins-Light';}
.fa_map_marker_block span{font-size:0.6em;line-height:1em;color:#fff;display: inline-block;vertical-align: top;}
.footer_container a span{font-size:0.6em;line-height:1em;color:#fff;display: inline-block;vertical-align: top;}
.footer_container a:hover{text-decoration:underline;}
.footer_follow_icons{width:0.8em;height:0.7em;}
.third_coast_block ul li{color:#fff;font-size:0.55em;line-height:1em;padding:0 0 0.7em 1.5em;background-image: url("../images/blue_arrow_icon.svg");background-repeat: no-repeat;background-size: 1em;background-position: top 0.3em left;font-family: 'Poppins-Light';}
.footer_top_container{padding:0 0 1em;}
.footer_contact_block .footer_follow_icon_tag{display: inline-block;}
.fa_envelope_block a span{font-size:0.62em;line-height:1em;}
.fa_map_marker_block{line-height:0.3em;/*padding: 0 0 0.4em;*/}
.footer_contact_block a{padding: 0 0.4em 0.3em 0em !important;display: block;vertical-align: top;line-height: 0.2em;}
.fa_map_marker_block .fa_icon{padding-right:1em;}
.footer_follow_container{padding:0 0 0 0.7em;}
.copy_right_img{max-width:2em;}
.copy_right_block {padding-left: 1em;display: inline-block;vertical-align:middle;line-height: 1.5em;}
.copy_right_img:hover {opacity: 0.6;}
.copy_right_txt br{display:none;}
.footer_container a span:last-child{font-family: 'Poppins-Light';}
.footer_container a:hover span:last-child{text-decoration:underline;}
.footer_container .fax_tag:hover span:last-child{text-decoration:none;}
.footer_follow_container a:hover svg{opacity: 0.6;}
/*Footer*/
/*Contact*/
.contact_container{background:#F6F7F7;padding: 4em 0;}
.contact_container .tradition_heading {font-family: 'Poppins-SemiBold';font-size: 1.2em;}
.contact_container .tradition_subtext {color: #455560;font-size: 0.6em;margin: 2em 0 4em;line-height: 1.7em;}
.contact_container input,.contact_container textarea{width: 100%;padding: 0.3em 1em;margin: 0em 0em 0.5em;display: inline-block;border: 1px solid #EEEEEE;font-size: 0.6em;background-color: #FFF;color:#555555;}
.contact_container textarea{resize:none;height:21.2em;}
.contact_div{border: 1px solid #EEEEEE;background-color: #FFF;padding:1em 0.7em;margin: 0 0 0.5em;}
.img_div{display:inline-block;width:10%;vertical-align: top;}
.content_div p{color: #455560;font-size:0.8em;line-height:1em;font-family: 'Poppins-SemiBold';}
.content_div a,.content_div p.sub_content{color: #455560;font-size:0.6em;line-height:1.5em;font-family: 'Poppins-Regular',sans-serif;display:block;padding: 0.7em 0 0;}
.content_div{display:inline-block;width:83%;}
.submit_btn_block .btn_submit{padding: 0.3em 3em;background:#034d70;color: #fff;font-size: 0.57em;display: inline-block;border: 0.1em solid #034d70;font-family: 'Poppins-Regular',sans-serif; width:auto;}
.submit_btn_block,.view_map{padding:1em 0 0;}
.location_div{padding:0 0 1em;}
.view_map a {padding: 0.75em 2.5em;background: #034d70;color: #fff;font-size: 0.57em;display: inline-block;border: 0.1em solid #034d70;font-family: 'Poppins-Regular',sans-serif;}
.submit_btn_block .btn_submit:hover,.view_map a:hover{background:#00AEEF ;color:#fff;border:0.1em solid #00AEEF ;cursor:pointer;}
.contact_container input::placeholder,.contact_container textarea::placeholder{color:#999999;}
/*Contact*/

.header_block{position: fixed;width: 100%;left: 0;top: 0;z-index: 999999;}
/*.blue_header{transition:all 2s;}*/
.mobile_menu{display:none;background: #fff;/*position: fixed;width: 100%;left: 0;top: 0;z-index: 100;*/}
.mobile_contact_block{display:none;}
/*Mobile_menu*/
.menu_icon{width:35px;height:35px;}
.menu_icon_block{text-align:right;}
.menu_icon_inner_block{display:inline-block;vertical-align:middle}
.menu_section{position:fixed;right: 0%;bottom:0;transition: left 0.5s;height:auto;z-index: 10;background-color: #034D70;padding: 35px;width: 40%;text-align: left;overflow:auto;display:none;}
.mobile_menu_nav li a{color:#fff;padding:15px;display:block;font-size: 15px;line-height:22px;}
.mobile_menu_nav .nav-item.active > a,.mobile_menu_nav .nav-item.active .mobile_link a{color: #034D70;;}
.mobile_menu_nav .nav-item.active .submenu li.active a{color: #034D70;}
.mobile_menu_nav li{border-bottom:0px solid #fff;display: block;width: 100%;}
.mobile_arrow{padding-left:20px;display:inline-block;cursor:pointer;transition:1s ease;vertical-align:middle;}
.menu_section.side_menu_open{display:block}
.menu_close{transition: left 0.5s;display:none;}
.menu_open{transition: left 0.5s;}
.mobile_menu_nav {display:block;}
.nav-item li a span{font-size: 15px;line-height:22px;}
.mobile_link{display:inline-block;width:85%;}
.mobile_menu_nav .submenu{position:static;}
.mobile_menu_nav li .submenu li a{padding: 8px 12px 8px 0;display:inline-block;vertical-align:middle;}
.mobile_menu_nav .mobile_contact_btn{color:#fff;font-size:15px;line-height:15px;padding-left: 15px;}
.mobile_menu_nav li .submenu li a{color: #034D70;}
.mobile_menu_nav li .submenu li a:hover{color: #171717;}
/*.mobile_arrow svg path{fill:#fff !important;}*/
/*.menu_inner_section{overflow:auto}*/
@media (min-width: 576px){
.modal-dialog {max-width: 650px;margin:0px auto;height:100%;}
.modal-title{font-size:20px;line-height:20px;}
}

@media screen and (max-width:1300px){
	*,span { font-size:15px; line-height:24px;}
	/*Banner*/
	.banner_container {padding:200px 0;}
	.banner_container p.banner_heading{font-size: 43px; margin-bottom: 20px;line-height: 40px;}
	.banner_container p.banner_animated_content{font-size:41px;}
	.banner_container p.banner_btn{margin-top: 60px;}
	.banner_container p.banner_btn a{border: 1px solid #fff; font-size: 14px; padding: 9px 20px;}

	 /*scroll-animation*/
	.box ul li{font-size: 43px;line-height:55px;}
	 /*scroll-animation*/
	/*Banner*/

	/*Deliver Customized Container*/
	.deliver_customized_inner_container {padding:60px 0;}
	.deliver_customized_inner_container p.deliver_customized_heading{font-size: 26px;line-height: 31px;}
	.deliver_customized_inner_container p.deliver_customized_subheading{margin: 25px 0; font-size: 16px;}
	.deliver_customized_inner_container p.deliver_customized_subtext{font-size: 14px; line-height: 22px;margin-bottom: 50px;}
	.seperator {width: 50px; height: 2px;margin-top: 35px;}
	.deliver_customized_list_container {margin-top: 70px;}
	.deliver_customized_list_container ul li{width: 24%; margin-left: 0px;padding: 0 10px;}
	.deliver_customized_list_container ul li figure{border:1px solid #e3e5e7;padding:35px 15px;}
	.deliver_customized_list_container ul li figure .deliver_customized_list_icon{max-width: 130px;height: 130px;}
	.deliver_customized_list_container ul li figure figcaption{margin-top: 23px;font-size: 14px;line-height: 17px;}
	/*Deliver Customized Container*/

	/*Video Container*/
	.video_container {padding:120px 0;}
	.video_inner_box_container{border:2px solid #fff; }
	.video_img_div{padding:130px 30px 135px;}
	.video_inner_box_container .svg{width: 70px;height:100px;}
	.video_inner_box_container p{margin-top: 30px; font-size: 18px;}
	/*Video Container*/

	/*Planning Container*/
	.planning_inner_container {padding:60px 0px;}
	.planning_inner_container p.panning_heading{font-size: 19px;}
	.planning_inner_container p.panning_subtext{ font-size: 17px;margin:10px 0 35px;}
	.planning_inner_container p.panning_btn a{padding: 9px 20px;font-size: 15px;}
	.planning_inner_container p.panning_btn a.visitor_btn{padding:9px 70px;}
	/*Planning Container*/

	/*Setting Container*/
	.setting_container {padding: 60px 0 55px;}
	.setting_container p.setting_heading{font-size:22px;line-height: 30px;}
	.setting_list_container {margin-top: 60px}
	.setting_list_container ul li{padding: 0 10px;}
	.setting_list_container ul li figure .svg{width: 100%; height: 100px; max-width: 100px;}
	.setting_list_container ul li figure figcaption{font-size: 14px; line-height: 22px;}
	/*Setting Container*/

	/*Tradition Container*/
	.tradition_container {padding:80px 0;}
	.tradition_inner_container .tradition_heading{font-size:28px;line-height: 31px;}
	.tradition_inner_container .tradition_subtext{font-size: 15px;margin: 25px 0 55px; line-height: 25px;}
	.tradition_inner_container .tradition_price{font-size: 44px;line-height: 41px;}
	.tradition_inner_container .tradition_price_subtext{line-height: 19px; font-size: 17px;margin: 25px 0 70px;}
	.tradition_list_container {max-width: 95%;}
	.tradition_list_container ul li{padding: 0 10px;}
	.tradition_list_container ul li figure .svg{width: 100%; height: 95px; max-width: 90px;}
	.tradition_list_container ul li figure figcaption{font-size: 14px; line-height: 23px; margin-top: 5px;}
	.tradition_inner_container .tradition_btn {margin-top: 60px;}
	.tradition_inner_container .tradition_btn a{padding: 9px 20px; font-size: 14px;}
	/*Tradition Container*/

	/*Safety Responsibility Container*/
	.safety_responsibility_container{padding:30px 0;}
	.safety_responsibility_left_container {padding:0 15px 0 0;}
	.safety_responsibility_left_container p{font-size: 19px;padding-top: 8px;}
	.safety_responsibility_right_container {padding:0 0 0 15px;}
	.safety_responsibility_right_container p a{font-size: 14px; padding: 9px 20px;}
	/*Safety Responsibility Container*/

	/*Want Join Container*/
	.want_join_container{padding: 100px 0 70px;}
	.want_join_container p.want_join_heading{font-size: 22px;margin-bottom: 45px;}
	.want_join_container p.want_join_btn a{padding: 9px 20px; font-size: 14px; border: 1px solid #fff;}
	/*Want Join Container*/

	/*Contact*/
	.contact_container{padding: 70px 0;}
	.contact_container .tradition_heading {font-size: 24px;}
	.contact_container .tradition_subtext {font-size:15px;margin:30px 0 50px;line-height: 20px;}
	.contact_container input,.contact_container textarea{padding: 9px 15px; margin: 0 0 10px; font-size: 15px;}
	.contact_container textarea{height:288px;margin-bottom: 0;}
	.contact_div{ padding: 20px 25px;margin: 0 0 10px;}
	.img_div{width:10%;}
	.img_div svg{width:20px;height:20px;}
	.content_div p{font-size: 17px;line-height: 20px;}
	.content_div a,.content_div p.sub_content{font-size:14px;line-height: 20px;padding: 8px 0 0;}
	.content_div{width:83%;}
	.submit_btn_block .btn_submit{padding:9px 20px;font-size:14px;border: 1px solid #034d70;}
	.submit_btn_block,.view_map{padding:20px  0 0;}
	.location_div{padding:0 0 30px;}
	.view_map a {padding: 9px 20px;font-size: 14px;border: 1px solid #034d70;}
	.submit_btn_block .btn_submit:hover,.view_map a:hover{border:1px solid #00AEEF ;}
	/*Contact*/

	/*Footer*/
	.footer_container {padding: 45px 0 20px;}
	.footer_bottom_container {border-top: 1px solid #fff; padding: 12px 0 0 ;}
	.footer_bottom_container p{font-size: 12px;line-height: 17px;}

	.footer_container h3{font-size: 15px; line-height: 20px; margin-bottom: 20px;}
	.fa_map_marker_block span{font-size: 13px; line-height: 18px;}
	.footer_container a span{font-size: 13px; line-height: 18px;}
	.footer_follow_icons{width: 20px;height: 14px;}
	.third_coast_block ul li{font-size: 13px; line-height: 18px; padding: 0 5px 9px 28px; background-size: 21px;background-position: top 5px left;}
	.footer_top_container{padding:0 0 20px;}
	.fa_envelope_block a span{    font-size: 13px; line-height: 18px;}
	.fa_map_marker_block{line-height:5px;}
	.footer_contact_block a{padding:0 3px 5px 0em !important;line-height: 18px;}
	.fa_map_marker_block .fa_icon{padding-right:12px;}
	.footer_follow_container{padding:0 0 0 20px;}
	.copy_right_img{max-width:22px;}
	.footer_container p span.copy_right_block {padding-left:18px;line-height:20px;}
	
	/*Footer*/
	/*Header*/
	.header_address_block{padding: 8px 0px;}
	.logo_block img{width: 100%;max-width: 200px;}
	.location_block p span,.header_contact_block a span,.header_contact_block p span,.header_contact_block .english_content{font-size:12px;line-height:22px;}
	.header_contact_block a{line-height:5px;}
	.nav-item a br{line-height:15px;}
	.logo_block{line-height: 15px;padding: 15px 0;}
	.location_block p{line-height:22px;}
	.fa_icon{padding-right:0.5em;}
	.menu_contaniner .nav li.nav-item a{font-size:12px;padding: 0 15px 0 0;line-height:20px;}
	.menu_contaniner .nav > li.nav-item{padding: 15px 0em;}
	.submenu {    min-width: 200px;left: -10px;padding: 10px 15px;}
	.menu_contaniner .nav-item .submenu li a {padding: 25px 0 0;}
	.menu_icons{width:45px;height:45px}
	.about_menu_icons {width: 40px;height: 40px;}
	.fax_icon{width:15px;height:15px;position: relative;top: 2.3px;}
	.header_contact_inner_block_1{max-width:24%;flex:0 0 24%}
	.header_contact_inner_block_2{max-width:37%;flex:0 0 37%}
	.header_contact_inner_block_3{max-width:15%;flex:0 0 15%}
	.fa_icon{padding-right:7px;}
	/*Header*/
}
@media screen and (max-width:1200px){
	/*Footer*/
	.footer_contact_block{margin-top:40px;}
	/*Footer*/
	/*Header*/
	.mobile_menu{display:block;}
	.dektop_menu{display:none;}
	.header_arrow{width:10px;height:10px;}
	.submenu{background:#fff;padding:12px 0px 0px 40px;}
	.menu_icons,.about_menu_icons{width:50px;height:50px;}
	/*.menu_icons path,.about_menu_icons path{fill:#fff !important;}*/
	.mobile_menu_nav li:last-child{border:0;}
	.menu_open svg path,.menu_close svg path{fill:#034D70 !important;}
	.mobile_menu_nav li.contact_last_block{border-bottom:0px solid #fff;}
	/*Header*/
	.video_img_div {padding: 125px 30px 125px;}
}
@media screen and (max-width:1100px){
	.video_img_div {padding: 90px 30px 90px;}
}
@media screen and (max-width:991px){
	/*Banner*/
	.banner_container {padding:150px 0;}
	.banner_container p.banner_heading{font-size: 40px; line-height: 40px;}
	 /*scroll-animation*/
	.box ul li{font-size: 40px;line-height:55px;}
	 /*scroll-animation*/
	/*Banner*/

	/*Deliver Customized Container*/
	.deliver_customized_inner_container {padding: 60px 0 45px;}
	.deliver_customized_inner_container p.deliver_customized_heading{font-size: 24px;}
	.deliver_customized_list_container ul li{width: 40%;margin-bottom: 30px;}
	/*Deliver Customized Container*/

	/*Video Container*/
	.video_container {padding: 100px 0;}
	.video_inner_container {width: 70%;}
	/*Video Container*/

	/*Setting Container*/
	.setting_container {padding: 60px 0 30px;}
	.setting_list_container ul li{margin-left:0;width:32%;margin-bottom: 35px;}
	/*Setting Container*/
	
	/*Tradition Container*/
	.tradition_container {padding:65px 0;}
	.tradition_inner_container .tradition_heading{font-size:26px;}
	.tradition_inner_container .tradition_subtext{font-size: 14px;}
	.tradition_inner_container .tradition_subtext span{font-size: 14px;}
	.tradition_inner_container .tradition_price{font-size: 41px;line-height: 41px;}
	.tradition_inner_container .tradition_price_subtext{font-size: 16px;}
	.tradition_list_container {max-width: 100%;}
	.tradition_list_container ul li { width: 33.33%;margin-bottom: 40px;}
	.tradition_list_container ul li:first-child { margin-left: -8px;}
	.tradition_list_container ul li figure figcaption{ line-height:19px; }
	.tradition_inner_container .tradition_btn {margin-top: 40px;}
	/*Tradition Container*/

	/*Safety Responsibility Container*/
	.safety_responsibility_left_container p { font-size: 18px; padding-top: 3px;}
	.safety_responsibility_right_container { text-align: right;}
	/*Safety Responsibility Container*/

	/*Contact*/
	.content_div { width: 87%;}
	.contact_div { padding: 20px 19px;}
	.content_div p {font-size: 16px;}
	.contact_container input, .contact_container textarea { font-size: 14px;}
	/*Contact*/

	/*Footer*/
	.footer_follow_container{padding:0;margin-top: 40px;}
	.footer_container p span.copy_right_block {padding-left: 15px;line-height: 18px;}
	.copy_right_img {max-width: 20px;}

	/*Footer*/
	/*Header*/
	.location_top_contanier .location_block{text-align:center;padding:0px 0 15px}
	.header_contact_inner_block_1{max-width:25%;flex:0 0 25%}
	.header_contact_inner_block_2{max-width:35%;flex:0 0 35%}
	.header_contact_inner_block_3{max-width:15%;flex:0 0 15%}
	.header_address_block {padding: 15px 0px;}
	.location_block p span, .header_contact_block a span, .header_contact_block p span, .header_contact_block .english_content {font-size: 14px;line-height: 24px;}
	.menu_section{width:60%;padding:30px;}
	.menu_icons,.about_menu_icons{width:40px;height:40px;}
	/*Header*/

	.video_img_div {padding: 105px 30px;}
}
@media screen and (max-width:767px){
	/*Deliver Customized Container*/
	.deliver_customized_inner_container p.deliver_customized_heading{font-size: 24px;}
	.deliver_customized_inner_container p.deliver_customized_subheading {font-size: 15px;}
	.deliver_customized_inner_container p.deliver_customized_subtext { margin-bottom: 40px;}
	.deliver_customized_list_container ul li{width: 49%;}
	/*Deliver Customized Container*/

	/*Video Container*/
	.video_inner_container {width: 85%;}
	.video_container {padding:80px 0;}
	.video_img_div{padding:80px 30px 80px;}
	.video_inner_box_container .svg{width: 65px;}
	.video_inner_box_container p{margin-top: 20px; font-size: 17px;}
	/*Video Container*/

	/*Planning Container*/
	.planning_inner_container {padding:40px 0px;}
	.planning_inner_container p.panning_heading{font-size: 18px;}
	.planning_inner_container p.panning_subtext{ font-size: 16px;margin:10px 0 30px;}
	.planning_inner_container p.panning_btn a{ font-size: 14px;}
	/*Planning Container*/

	/*Setting Container*/
	.setting_list_container ul li {width: 49%;}
	/*Setting Container*/

	/*Safety Responsibility Container*/
	.safety_responsibility_left_container { padding: 0px;}
	.safety_responsibility_left_container p { font-size: 18px; padding-top: 0px;}
	.safety_responsibility_right_container { text-align: left;padding: 10px 0 0;}
	/*Safety Responsibility Container*/

	
	/*Want Join Container*/
	.want_join_container{padding: 90px 0 60px;}
	.want_join_container p.want_join_heading{font-size: 20px;margin-bottom: 35px;}
	/*Want Join Container*/

	/*Contact*/
	.contact_left_container{padding: 0;}
	.contact_right_container{padding: 0;margin-top: 70px;}
	/*Contact*/

	/*Footer*/
	.footer_bottom_container p{text-align:center;}
	.footer_contact_block { margin-top: 20px;}
	.footer_follow_container{margin-top: 20px;}
	.footer_phone_container{margin-top:20px;}
	.footer_container h3 { margin-bottom: 10px;}
	.site_text{padding-top:7px;}
	.copy_right_txt br{display:block;}
	/*Footer*/
	/*Header*/
	.mobile_menu_nav li a{padding:10px 12px;font-size: 14px;line-height: 20px;}
	.menu_open svg, .menu_close svg{width:30px;height:30px;}
	/*Header*/
}

@media screen and (max-width:700px){
	/*Header*/
	.mobile_contact_block{display: block;width: 70%;margin: 0px auto;text-align: center;}
	.header_contact_block{display:none;}
	.fa_icon {padding-right: 15px;}
	.contact_icons,.contact_icons a{display: inline-block;font-size: 14px;color: #fff;line-height:20px;}
	.menu_icons,.about_menu_icons{width:43px;height:35px;}
	.fa_icon{font-size:20px;}
	/*Header*/
}

@media screen and (max-width:600px){


	/*Header*/
	.menu_section {width: 100%;padding:20px;}
	/*Header*/
	.modal-dialog{max-width:450px;margin: 0px auto;height:100%;padding:0 13px;}
	.modal-dialog iframe{width: 100%; height: 200px;max-width: 380px;}
	.modal-title{font-size:23px;line-height:23px;}
}

@media screen and (max-width:550px){
	/*Banner*/
	.banner_container p.banner_heading{font-size: 35px;line-height: 38px; }
	 /*scroll-animation*/
	.box ul li{font-size: 35px;line-height: 38px;}
	 /*scroll-animation*/
	/*Banner*/

	/*Deliver Customized Container*/
	.deliver_customized_inner_container p.deliver_customized_heading{font-size: 23px;}
	.deliver_customized_inner_container p.deliver_customized_subheading {line-height: 20px;}
	.deliver_customized_list_container ul li{width: 100%;padding:0;}
	/*Deliver Customized Container*/

	/*Video Container*/
	.video_img_div{padding:70px 30px 70px;}
	.video_inner_box_container .svg{width: 55px;height: 75px;}
	.video_inner_box_container p{margin-top: 15px; font-size: 16px;}
	/*Video Container*/

	/*Setting Container*/
	.setting_container p.setting_heading { font-size: 21px;}
	.setting_list_container ul li {width: 100%;padding:0;}
	.setting_list_container ul li figure .svg {height: 90px; max-width: 90px;}
	/*Setting Container*/

	/*Tradition Container*/
	.tradition_container {padding:55px 0;}
	.tradition_inner_container .tradition_heading{font-size:24px;}
	.tradition_inner_container .tradition_subtext{line-height: 23px;}
	.tradition_inner_container .tradition_price{font-size: 35px;}
	.tradition_inner_container .tradition_price_subtext{font-size: 15px;line-height: 21px;margin: 15px 0 70px;}
	.tradition_inner_container .tradition_price_subtext br{display:none;}
	.tradition_list_container ul li { width: 49%;margin-left:0;}
	.tradition_list_container ul li:first-child { margin-left: 0;}
	.tradition_list_container ul li:first-child { margin-left: -8px;}
	/*Tradition Container*/

	/*Contact*/
	.contact_container textarea { height: 180px;}
	.content_div p { font-size: 15px;}
	/*Contact*/
	.planning_inner_container p.panning_btn a{width:100%;}
	.contractor_btn, .visitor_btn {margin:10px 0 0 0px;}
}
@media screen and (max-width:480px){
	.video_img_div{padding:50px 30px 50px;}
}
@media screen and (max-width:400px){
	/*Banner*/
	.banner_container p.banner_heading{font-size: 28px;line-height: 33px; }
	 /*scroll-animation*/
	.box ul li{font-size:28px;line-height: 33px;}
	 /*scroll-animation*/
	/*Banner*/

	/*Deliver Customized Container*/
	.deliver_customized_inner_container p.deliver_customized_heading{font-size: 22px;line-height: 28px;}
	.deliver_customized_inner_container p.deliver_customized_subtext { margin-bottom: 0;}
	/*Deliver Customized Container*/

	/*Video Container*/
	.video_container {padding:60px 0;}
	.video_img_div{padding:50px 25px 50px;}
	.video_inner_box_container .svg{width: 45px;height: 62px}
	.video_inner_box_container p{margin-top: 8px; font-size: 14px;}
	/*Video Container*/

	/*Planning Container*/
	.planning_inner_container p.panning_subtext{ font-size: 15px;line-height: 19px;}
	/*Planning Container*/

	/*Safety Responsibility Container*/
	.safety_responsibility_left_container p{font-size: 17px;}
	/*Safety Responsibility Container*/

	/*Want Join Container*/
	.want_join_container{padding: 50px 0;}
	.want_join_container p.want_join_heading{font-size: 18px;margin-bottom: 25px;}
	/*Want Join Container*/
	/*.modal-dialog{max-width:300px;}
	.modal-dialog iframe{width:250px;height:170px;}*/
	.modal-title{font-size:20px;line-height:20px;}
	
}
@media screen and (max-width:340px){

	/*Video Container*/
	.video_container {padding:50px 0;}
	.video_img_div{padding:40px 25px 40px;}
	.video_inner_box_container .svg{width: 40px;height: 57px}
	.video_inner_box_container p{margin-top: 5px; }
	/*Video Container*/
	.video_img_div {padding: 50px 25px 50px;}
}