@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300);
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto";
	font-size: 10px;
	font-weight: normal;
	color: #434343;
	position: relative;
}
.header-sec .wrapper .def-header > p {
	float: left;
	width: 630px;
	margin: 16px;
	font-size: 17px;
}
.header-sec .logo-text {
	float: left;
	font-size: 30px;
	margin: 30px 10px 30px 0;
}
.header-sec {
	float: left;
	width: 100%;
	background: url(../images/trans.png);
	color: #fff;
	position: absolute;
	top: 0;
	z-index: 10;
}
.wrapper {
	/* width: 100%; */
	max-width: 1300px;
	margin: 0 auto;
}
.map-sec {
	float: left;
	width: 100%;
	height: 750px;
}
.home-grid-sec {
	float: left;
	width: 100%;
}
.footer-sec {
	float: left;
	width: 100%;
	background: #dfdfdf;
	line-height: 30px;
	text-align: center;
	margin-top: 0px;
}
h3 {
	font-size: 12px;
	margin: 5px 0;
}
.desktopView{
  display:block;
}
.mobileView{
 display:none;
}
.grides {
	float: left;
	width: 14%;
	margin: 10px 0.13% 10px 0.13%;
	border: 1px solid #d0d0d0;
	text-align: center;
	box-sizing: border-box;
	padding: 1%;
	min-height: 235px;
	position: relative;/* display: table; */
}
.grides_mobile{
    display:none;   
    background: #ddd;
    width: 100%;
    min-height: 20px;
    float: left;
    padding: 20px 0;
text-align:center;
position:relative;
}
.arrow-up {
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ddd;
    margin: 0 auto;
    top: -8px;
    position: absolute;
    left: 45%;
    right: 45%;
}
.arrow-bottom{
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #ddd;
    margin: 0 auto;
    bottom: -8px;
    position: absolute;
    left: 45%;
    right: 45%;
}
.grides_mobile a.vist_web{
    padding: 10px;
    background: #000;
    color: #fff;    
    display: inline-block;
    margin-bottom:8px;
}
.grides_mobile h4{
    font-size: 15px;
    margin-bottom: 10px;
}
.grides_mobile p{
 line-height: 25px;
}
.grides_mobile p.tel_num{ 
    text-decoration: underline;
}
.grides img {
	width: 100%;
}
.grides:last-of-type {
	margin: 10px 0 10px 0;
}
a {
	color: inherit;
	text-decoration: none;
	border: none;
}
a:focus {
	border: none;
	outline: none;
}
img {
	border: none;
}
.gride-over {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	background: url(../images/trans.png);
	color: #fff;
	padding: 50px 0;
	box-sizing: border-box;
	display: none;
}
.gride-over a {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	border: 1px solid #fff;
	margin: 5px 0;
	
}
.gride-over a:hover{
	border: 1px solid #000;
	background:#fff;color:#000;
}
.visit_website_map a:hover{
color:#E3E9DD;
   
}
.email_addr a:hover{
font-weight:bold;
}
.rep {
	font-size: 13px;
	float: left;
	margin: 7px 20px;
}
.rep h3 {
	font-weight: bold;
	font-size: 18px;
}
.def-header {
	
}
.place-expl .repre {
	display: none;
}

.repr-btns {
    margin: 15px 0;
}

.rep h2 {
    line-height: 20px;
    margin-top: 21px;
}
.footer_Section_grid{
width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
}
.footer-sec a:hover{
 font-weight:bold;
}

@media (max-width: 480px) {
.desktopView{
  display:none;
}
.mobileView{
 display:block;
}
.grides ,.grides:last-of-type {
    width: 90%;
    margin: 5%;
}
.grides img {
    width: 80%;
}
.grides_mobile{


}
.footer_Section_grid{
position:relative;
}

.header-sec .wrapper .def-header > p {
    width: 94%;
}

.header-sec {
    position: initial;
    background-image: url(../images/landingpg_mobile_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.map-sec {
    display: none;
}

.gride-over a {
    display: block;
    margin: 10px;
}

.header-sec .logo-text {
    width: 100%;
}
.def-header {
    text-align: center;
}
body {
    font-size: 16px;
}

h3 {
    font-size: 18px;
}

.footer-sec {
    font-size: 13px;
}

.repre {float: left;width: 100%;margin-bottom: 20px;}
.gride-over {
    padding: 80px 0;
}
}